<div class="container">
    <legend>Create Item</legend>
    <form>
      <div class="mb-3">
        <label for="txtdesignation" class="form-label">Designation</label>
        <input type="text" name="designation" [(ngModel)]="factureForm.designation" class="form-control" id="txtdesignation" />
      </div>
      <div class="mb-3">
        <label for="txtQuantity" class="form-label">Quantity</label>
        <input type="number" name="quantity" [(ngModel)]="factureForm.quantity" class="form-control" id="txtQuantity" />
      </div>
      <div class="mb-3">
        <label for="txtPrice" class="form-label">Price</label>
        <input type="number" name="price" [(ngModel)]="factureForm.price" class="form-control" id="txtPrice" />
      </div>
      <div class="mb-3">
        <label for="txtTotal" class="form-label">Total</label>
        <input type="number" name="total" [(ngModel)]="factureForm.total" class="form-control" id="txtTotal" />
      </div>
      <button type="button" (click)="create()" class="btn btn-primary">Create</button>
    </form>
</div>
